/*
Author: Joseph Sobero
Date: March 3, 2018

GrC 338 Final Lab Project
 */


/* VARIABLES */

// color
$black: #000;
$white: #fff;
$gray: #aaa;
$red: #D81200;
$blue: #022B3A;
// opacity
$textbgo: 0.6;
// text
$fontfam: 'Open Sans', 'Lato', sans-serif;
$fontsizes: 0.65em;
$fontsize: 1.1em;
$fontsizem: 1.8em;
$fontsizeh: 3.2em;
$reg: 400;
$bold: 700;



/* RESET */

* {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}
html, body {
  overflow: hidden;
  width: 100%;
}


/* STYLES */

// TEXT
h1, h2, h3, p {
  font-family: $fontfam;
  text-align: left;
  color: $white;
}
h1 {
  font-size: 3em;
  font-weight: $reg;
  text-transform: uppercase;
  margin: 100px 0 40px 50px;
  letter-spacing: 3px;
}
h3 {
  font-size: 1em;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 0 0 20px 50px;
}
p {
  font-size: 1em;
  font-weight: $reg;
  margin: 0 50px 30px 50px;
  line-height: 1.15em;
  letter-spacing: 1px;
}

.text-box {
  position: absolute;
  z-index: 3;
  width: 450px;
  top: 0;
  height: 100%;
  bottom: 0;
  a {
    color: $white;
    &:hover {
      opacity: 0.5;
    }
  }
}

// NAV BAR
nav {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 275px;
  background-color: rgba(255, 255, 255, 0.8);
  ul {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 200px;
    height: 280px;
    list-style-type: none;
    li {
      font-family: $fontfam;
      font-size: $fontsizem;
      font-weight: $reg;
      letter-spacing: 2px;
      margin: 25px 0;
      color: $gray;
    }
    a {
      font-weight: $reg;
      /*
      &:visited {
        color: $gray;
      }
      */
      &:hover {
        opacity: 0.5;
      }
      &:active {
        color: $gray;
      }
    }
  }
}

// MANIN CONTENT

// container no overflow
.container {
  display: none;
  z-index: 0;
  position: absolute;
  left: 275px;
  right: 275px;
  top: 50%;
  transform: translateY(-50%);
  height: 80vh;
  max-width: 2000px;
  max-height: 1350px;
  overflow: hidden;
}
#container2 {
  margin-top: 100vh;
  margin-bottom: 10vh;
}

// background image dimmer
.dimmer {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.65;
}

// background image
.bg {
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-height: 100%;
}

// logo images
#logo-box {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 100px;
}
#title-logo, #title-logotype {
  position: absolute;
  top: 0;
  height: 100%;
}
#title-logo {
  left: 0;
}
#title-logotype {
  right: 0;
}

// image dimmers
.page-dimmer {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  opacity: $textbgo;
}
.red {
  background-color: $red;
}
.blue {
  background-color: $blue;
}
.left {
  left: 0;
}
.right {
  right: 0;
}


// STORY PAGE
#story-footer-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  overflow: hidden;
}
#story-scroll {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 14px;
  padding-right: 28px;
}
#scroll-trig {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 14px;
  padding-right: 28px;
  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 101vh;
    width: 100%;
  }
}
#topofpage {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  z-index: -1;
}

// LOCATION
#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// FOOTER

// footer container
footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  // footer text items
  ul {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 75%;
    list-style-type: none;
    li {
      font-family: $fontfam;
      font-size: $fontsizes;
      font-weight: $reg;
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0 25px;
      color: $white;
      display: inline-block;
    }
  }
  // footer images
  img {
    position: absolute;
    right: 15px;
    height: 20px;
    width: 20px;
    bottom: 5px;
  }
  #v {
    right: 50px;
  }
}


// RIGHT SIDE LOGO

#logo-right {
  position: absolute;
  right: 50px;
  top: 0;
  bottom: 0;
  width: 50px;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px;
    left: 0;
    opacity: 0.25;
  }
  div {
    position: absolute;
    height: 35%;
    width: 3px;
    right: 21px;
    background-color: $black;
    opacity: 0.25;
    //background-color: $blue;
  }
}
#top-line {
  top: 10%;
}
#bot-line {
  top: 55%;
}