/*
Author: Joseph Sobero
Date: March 3, 2018

GrC 338 Final Lab Project
 */


/* VARIABLES */

// color
$black: #000;
$white: #fff;
$gray: #aaa;
$red: #D81200;
$blue: #022B3A;
$yellow: #F5E600;
// opacity
$textbgo: 0.7;
// text
$fontfam: 'Open Sans', 'Lato', sans-serif;
$fontsize: 1.1em;
$fontsizem: 1.8em;
$fontsizeh: 3.2em;
$reg: 400;
$bold: 700;



/* RESET */

* {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}
html, body {
  overflow: hidden;
  width: 100%;
}


/* MY STYLES */

body {
  background: url(images/grey.png);
}

// TEXT

h1, h2, h3, p, a {
  font-family: $fontfam;
  text-align: left;
  color: $white;
}
h1 {
  font-size: 3em;
  font-weight: $reg;
  text-transform: uppercase;
  margin: 100px 0 40px 50px;
  letter-spacing: 3px;
}
h2 {
  font-size: 1.8em;
  font-weight: $reg;
  text-transform: uppercase;
  margin: 0 0 20px 25px;
  letter-spacing: 3px;
}
h3 {
  font-size: 1em;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 0 0 15px 50px;
}
p {
  font-size: 1em;
  font-weight: $reg;
  margin: 0 50px 35px 50px;
  line-height: 1.15em;
  letter-spacing: 1px;
}

.red-text {
  color: $red;
}
.blue-text {
  color: $blue;
}

.text-box {
  position: absolute;
  z-index: 3;
  width: 450px;
  top: 0;
  height: 100%;
  bottom: 0;
  a {
    color: $white;
    &:hover {
      opacity: 0.5;
    }
  }
}

// NAV BAR

nav {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 350px;
  width: 275px;
  ul {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 200px;
    height: 100%;
    list-style-type: none;
    li {
      font-family: $fontfam;
      font-size: $fontsizem;
      font-weight: $reg;
      letter-spacing: 2px;
      margin: 25px 0;
      color: $gray;
    }
    a {
      font-weight: $reg;
      color: $black;
      /*
      &:visited {
        color: $gray;
      }
      */
      &:hover {
        opacity: 0.5;
      }
      &:active {
        color: $gray;
      }
    }
  }
}


// MAIN CONTENT (consistent on each page)

.container {
  display: none;
  z-index: 1;
  position: absolute;
  left: 275px;
  right: 275px;
  top: 50%;
  transform: translateY(-50%);
  height: 80vh;
  max-width: 2000px;
  max-height: 1350px;
  overflow: hidden;
}
#container2 {
  margin-top: 100vh;
  margin-bottom: 10vh;
}

// background image dimmer
.dimmer {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.35;
}

// background image
.bg {
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-height: 100%;
}

// logo images
#logo-box {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 100px;
}
#title-logo, #title-logotype {
  position: absolute;
  top: 0;
  height: 100%;
}
#title-logo {
  left: 0;
}
#title-logotype {
  right: 0;
}

// image dimmers
.page-dimmer {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  opacity: $textbgo;
}
.red {
  background-color: $red;
}
.blue {
  background-color: $blue;
}
.gray {
  background-color: $gray;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

// right side logo
#logo-right {
  position: absolute;
  right: 50px;
  top: 0;
  bottom: 0;
  width: 50px;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px;
    left: 0;
    opacity: 0.25;
  }
  div {
    position: absolute;
    height: 35%;
    width: 3px;
    right: 21px;
    background-color: $black;
    opacity: 0.25;
    //background-color: $blue;
  }
}
#top-line {
  top: 10%;
}
#bot-line {
  top: 55%;
}

// footer section
footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  opacity: 0.6;
  // footer text items
  ul {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 75%;
    list-style-type: none;
    li {
      font-family: $fontfam;
      font-size: 0.75em;
      font-weight: $reg;
      line-height: 40px;
      letter-spacing: 1px;
      margin: 0 25px;
      color: $white;
      display: inline-block;
    }
  }
  // footer images
  img {
    position: absolute;
    right: 15px;
    height: 20px;
    width: 20px;
    bottom: 10px;
  }
  #v {
    right: 50px;
  }
}

// STORY PAGE

#story-footer-div {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  overflow: hidden;
}
#story-scroll {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 14px;
  padding-right: 15px;
}
#scroll-button, #scroll-button-2 {
  position: absolute;
  z-index: 4;
  top: 91vh;
  right: 275px;
  height: 20px;
  width: 125px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  a p {
    position: absolute;
    line-height: 20px;
    left: 0;
    top: 0;
    margin: 0;
    color: $red;
  }
  img {
    position: absolute;
    right: 0;
    top: 1px;
    height: 18px;
    width: 18px;
  }
}
#scroll-button-2 {
  top: 107vh;
  left: 275px;
  img {
    transform: rotate(180deg);
  }
}

// LOCATION PAGE

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


// MENU PAGE

// page background
// top bar
#menu-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: $blue;
  opacity: 0.6;
  li {
    position: relative;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    h1, a {
      margin: 0;
      padding: 0 25px 0 25px;
    }
    a {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
h1#menu-title {
  z-index: 3;
  position: absolute;
  display: block;
  top: 0;
  left: 25px;
  margin: 0;
  line-height: 70px;
}
// container for scroll
#menu-section-container {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
// menu sections
.menu-section {
  position: relative;
  float: left;
  width: 90%;
  height: auto;
  padding: 0 0 20px 0;
  margin: 25px 35px 35px 35px;
  border-bottom: 1px solid $red;
  h1 {
    position: relative;
    color: $blue;
    opacity: 0.6;
    margin: 0 0 0 0;
    font-size: 2.2em;
  }
  h2 {
    opacity: 0.6;
    margin: 5px 0 10px 0;
    color: $red;
    width: 100%;
    position: relative;
    float: left;
  }
  h3 {
    position: relative;
    color: $gray;
    margin: 0 0 35px 0;
    font-size: 0.85em;
    font-style: italic;
    text-transform: lowercase;
    font-weight: $reg;
  }
  span {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 15px;
    text-transform: lowercase;
    .sub-desc {
      font-size: 0.85em;
      margin-left: 0;
    }
  }
  p {
    font-size: 0.85em;
  }
}
.menu-item {
  position: relative;
  float: left;
  width: 550px;
  height: 120px;
  margin: 0 25px 0 0;
  h2 {
    opacity: 1;
    color: $black;
    margin: 0 0 10px 0;
  }
  p {
    color: $black;
    margin: 0 0 6px 0;
  }
  span {
    font-size: 0.5em;
    margin-left: 10px;
    font-weight: $reg;
  }
  p:last-child {
    margin-bottom: 30px;
  }
  .addon {
    color: $gray;
  }
}
.menu-item p.gfitem {
  width: 100%;
  height: 30px;
  color: rgba(216, 18, 0, 0.6);
}